.paintings {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row; /* Images are displayed in a row */
    padding: 0;
    flex-wrap: wrap; /* If there is not enough space, images will move to the next row */
    justify-content: center; /* Centers the images on the page */
  }
  
  .paintings li {
    margin: 10px;
    width: 200px;
    display: flex;
    flex-direction: column; /* Inside each image, elements (title, image, price) are arranged vertically */
  }
  
  .paintings li img {
    max-width: 100%;
    width: 200px; /* Fixed width for images */
    height: auto; /* Auto height to maintain aspect ratio */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .paintings li h3 {
    padding: 0px;
    margin: 5px;
  }
  
  .paintings li span { 
    padding: 10px;
    height: 20px;
    width: 100%;
  }
  
  .slideshow img {
    width: 100%;
  }
  
  .placeholder-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .placeholder {
    width: 45%;
    height: 200px;
    margin: 10px;
    position: relative;
  }
  
  .placeholder::after {
    content: ' ';
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    height: 200px;
    width:100%;
    top: 0;
    left: 0;
  }
  
  .my-awesome-placeholder {
    width: 200px;
    margin: 10px;
  }
  