/* Navbar styling */
.Navbar {
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.Navbar li button {
    border: none;
    font-size: 14px; /* Adjusted font size for better readability */
  
    cursor: pointer;
    font-family: 'Arial', sans-serif; /* You can replace this with any font you prefer */
    font-weight: 600; /* Makes the text bold */
    text-transform: uppercase; /* Makes the button text all caps */
    letter-spacing: 1px;
    transition: color 0.3s ease;
    background-color: transparent; /* No background color */
    color: #2c3e50; 
}

.Navbar li button:hover {
    border: none;
    color: #1f0961;
}

/* Button class styling */
.button {
    background-color: transparent; /* Remove background color */
    color: #2c3e50; /* Dark color for the text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: rgb(57, 92, 66);
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}
